# 데이터분석 기초


데이터 분석을 잘 할 수 있도록 데이터를 가공하는 방법

In [2]:
import pandas as pd
# pandas 라이브러리 파이썬에서 매우 강력

## 데이터 읽어오기

### csv 파일과 tsv 파일 읽기

- csv comma(,)를 이용해 데이터를 구분
- tsv tab을 이용해 데이터를 구분

In [ ]:
# 파일경로 /content/drive/MyDrive/Colab Notebooks/파이썬 데이터분석/파이썬_데이터분석

In [2]:
# csv 파일을 읽어오는 방법
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/파이썬 데이터분석/파이썬_데이터분석/concat_1.csv")
df # dataframe

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

### tsv 파일을 읽어오는 방법

csv, tsv 는 단순 seerator의 차이만 존재함

tab으로 구분된 tsv 문서의 경우는 read_csv 함수에서 seperator를 \t로 변경하여 읽어올 수 있다.

In [3]:

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/파이썬 데이터분석/파이썬_데이터분석/gapminder.tsv", sep = '\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

## dataframe 기본 함수

- type
- shape
- columns
- head
- tail
- dtypes
- info

In [8]:
 # 데이터 타입
 type(df)

pandas.core.frame.DataFrame

In [9]:
# 몇행 몇열인지
df.shape

(1704, 6)

In [7]:
# 모든 열을 표시
df.columns
# df.rows // # rows 속성은 없은 (error)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [ ]:
# 데이터를 전부 다 출력할 수는 없으므로 head tail
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
# 각 column 의 data type 을 표시
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

## 행과 열에 접근

### 원하는 열에 접근

In [11]:
# 각 열에 접근
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

### 여러 열에 접근

list 형식으로 인지를 넘겨주면 여려 열에 접근이 가능하다

In [13]:
df[['country', 'year', 'pop']]

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

### 원하는 행에 접근

#### loc 과 iloc

- loc : 0이라고 적힌 행에 접근한다. // 이름으로 접근
- iloc : # 0번째 행에 접근한다. // 순서로 접근


> 여러 행에 접근하고 싶을 떄는 list 형식으로 접근

In [16]:
df.loc[0] # 0이라고 적힌 행에 접근한다. // 이름으로 접근

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [17]:
df.iloc[0] # 0번째 행에 접근한다. // 순서로 접근

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [18]:
df.loc[-1] # -1이라고 적힌 행이 없으므로 error가 발생

KeyError: ignored

In [19]:
df.iloc[-1] # 가장 마지막 열을 가져옴

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object